//Colors
$primary: #ff0157;
$primary-hover: #000000;
$secondary2: #000000;
$secondary: #f8f8f8;
$trinary: #F8F8F8;
$fourth: #302e2c;
$lesspure: #ebe3e3;
$pure: #ffffff;
$smokewhite: #f5f5f5;
$dark: #232323;
$gray: #c5c5c5;
$gray1: #efefef;;
$gray2: #757575;
$gray3: rgb(95, 90, 90);
$green: #04AA6D;

// Transition
$smooth: all .5s ease-in-out;