<!Doctype html>
<section class="offers bg-secondary">
    <div class="offersContainer">
		<div class="card">
			<div class="imgBox">
				<img src="/img/REIWAImg/REIWAOffers/Offer1.jpg" alt="Image">
			</div>

			<div class="content">
				<h4 class="title">TAKOYAKI</h4>
				<p class="description">We mean it when we say we serve the Best Takoyaki in town! Looking forward for more happy moments shared with Reiwa’s Authentic Japanese foods and drinks! </p>
			</div>
		</div>
		<div class="card">
			<div class="imgBox">
				<img src="/img/REIWAImg/REIWAOffers/Offer2.jpg" alt="Image">
			</div>

			<div class="content">
				<h4 class="title">MILK TEA</h4>
				<p class="description">Today is best spent with family and friends and of course... with delicious drinks brought to you by #ReiwaKitchen ❤️</p>
			</div>
		</div>
		<div class="card">
			<div class="imgBox">
				<img src="/img/REIWAImg/REIWAOffers/Offer3.jpg" alt="Image">
			</div>

			<div class="content">
				<h4 class="title">TONKOTSU RAMEN</h4>
				<p class="description">Taste the Best Only from the Best ❤. REIWA Kitchen offers authentic Japanese foods like no other.</p>
			</div>
		</div>
	</div>
</section>